<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pg24pay</name>
	<displayName><![CDATA[24 Pay]]></displayName>
	<version><![CDATA[1.7.4]]></version>
	<description><![CDATA[Official 24-pay module]]></description>
	<author><![CDATA[Lukius24]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Are you sure you want to delete your details?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
